p#notice = notice

p Demo of Rails/Angular/CreateJs tested with /Jasmine/Rspec/Cucumber

p
  button{ng-click = 'dealCard()' ng-disabled = '!enabled'} Deal Card


creative-canvas{options = 'gameOptions'}

= render 'game_params_service'